body {
    background-color:rgb(113, 160, 253);
    font-family: fantasy;
}
h1{
    color:rgb(227, 236, 250);
    text-align:center;
    font-style: italic;
    text-shadow: 3px 2px darkgray;
    font-size:3rem;
    
}
button{
    position: relative; 
    background-color:rgb(148, 217, 235); 
    font-style: italic;
    padding:0.5rem;
    margin: 0.5rem;
    color: rgb(238, 0, 0);
}
ul{
    color: rgb(238, 0, 0);
    font-size: 1rem;
    font-style: italic;
}
ul li:hover {
    text-decoration: underline;
  }